.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #153956;
  font-family: Avenir, sans-serif;
  color: #f5f2e8;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2.375rem;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  font-size: 1rem;
}

a {
  color: #f5f2e8;
  font-size: 1rem;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f2a278;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.navbar {
  padding-top: 1rem;
  background-color: transparent;
}

.navbar__menu {
  float: none;
}

.navbar__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.navbar__icon.navbar__icon--last {
  margin-right: 0px;
}

.navbar__logo {
  position: relative;
  top: 12px;
  max-width: 85%;
}

.hero__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 572px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f2a278;
  font-weight: 700;
}

.logo-swipeout {
  width: 54px;
  margin-right: 0px;
}

.navbar__icon-wrapper {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.navbar__icon-wrapper.navbar__icon-wrapper--sidebar {
  display: none;
}

.navbar__logo-wrapper {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.container.hero-container {
  height: 100vh;
  padding-bottom: 6rem;
}

.container.spaceship-container {
  max-width: 1296px;
  padding-bottom: 0rem;
}

.container.container-blog-post-hero {
  position: relative;
  width: 100%;
  max-width: 50rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.container.container-blog-post-main {
  max-width: 50rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container.container-blog-post-author {
  max-width: 50rem;
  padding: 0rem;
}

.container.container-blog-post-articles {
  max-width: 50rem;
  padding: 0rem 2rem 2rem;
}

.container.container-blog-header {
  padding-bottom: 2rem;
}

.container.container-projects {
  display: block;
  padding-bottom: 3rem;
}

.container.container-projects.container-projects-blog {
  padding-bottom: 6rem;
}

.hero {
  overflow: visible;
  height: 100vh;
}

.hero__photo {
  position: relative;
  z-index: 2;
  max-width: 400px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-style: solid;
  border-width: 24px;
  border-color: #002e4d;
  border-radius: 50%;
  background-image: url('../images/nadia-photo.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 2.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  padding-top: 1.5rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  font-size: 1.375rem;
  line-height: 32px;
  font-weight: 400;
}

.body {
  font-family: Avenir, sans-serif;
}

.skills {
  overflow: visible;
  background-image: url('../images/meteorite_bg_dark.svg');
  background-position: 0% 120%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h2 {
  margin-top: 7rem;
  margin-bottom: 1rem;
  padding-top: 0px;
  color: #f2a278;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  text-transform: none;
}

.h2.about-me-h2 {
  margin-top: 0px;
  margin-bottom: 2rem;
  padding-bottom: 0px;
  color: #f2a278;
  font-weight: 500;
  text-transform: none;
}

.h2.recently-made-h2 {
  display: inline-block;
  margin-top: 3rem;
}

.skills__list-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
}

.paragraph {
  margin-bottom: 0px;
  color: #b9d1f2;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.skills__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 264px;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skills__list-item > img {
   max-width: 32px;
   margin: auto;
}

.skills__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button-small-border {
  position: relative;
  width: 152px;
  height: 48px;
  border: 2px solid #f07b61;
}

.button-small-border.button-small__top {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #153956;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Avenir, sans-serif;
  color: #f07b61;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.button-small-border.button-small__top:hover {
  left: 8px;
  bottom: 8px;
}

.button-small-border.button-small__top:active {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.button-small-border.button-small__top.button-small-border-blog {
  color: #f5f2e8;
}

.button-small-border.button-small-border-blog {
  border-color: #f5f2e8;
}

.button-small-wrapper {
  position: relative;
  width: 152px;
  height: 48px;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.button-small-wrapper.blog-button-small {
  position: absolute;
  left: auto;
  top: -1.5rem;
  right: 5%;
  bottom: 0%;
  z-index: 2;
  display: none;
  background-color: #153956;
}

.button-small-wrapper.blog-button-small.blog-post-button-small {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.button-small-wrapper.blog-button-small.button-visible {
  position: relative;
  top: 0rem;
  right: auto;
  display: block;
  margin-top: 2rem;
}

.button-small-wrapper.button-small-wrapper--hidden {
  display: none;
}

.button-large-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 56px;
  margin-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.button-large-wrapper.form-button {
  position: relative;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.button-large-fill {
  position: absolute;
  left: 0px;
  top: 16px;
  right: 0px;
  bottom: 0px;
  width: 180px;
  height: 56px;
  background-color: #002e4d;
}

.button-large-top {
  position: absolute;
  left: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f07b61;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #153956;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}

.button-large-top:hover {
  left: 8px;
  top: 8px;
}

.button-large-top:active {
  left: 0px;
  top: 16px;
}

.table {
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 0px 8px 0px 0px;
  border-color: #000 #002e4d #000 #000;
}

.about-grid-parent {
  width: auto;
  height: auto;
  max-height: none;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 8px;
  border-color: #002e4d;
  background-color: #002e4d;
}

.about-grid-child-1 {
  position: relative;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-grid-child-2 {
  grid-column-gap: 0px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about-me-list {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 27px;
  list-style-type: none;
}

.about-me-list.current-location-p {
  margin-bottom: 0px;
}

.grid-background {
  padding: 3rem 3rem 3rem 2.7rem;
  background-color: #153956;
}

.grid-background.current-location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  border-top: 2px solid rgba(63, 21, 21, 0);
  border-bottom: 4px solid #f07b61;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 1.125rem;
  text-decoration: none;
}

.link:hover {
  border-top: 2px solid #f07b61;
  border-bottom-width: 4px;
  background-color: #f07b61;
}

.logo-ibm {
  width: 86px;
}

.logo-wwf {
  width: 60px;
}

.logo-pwc {
  width: 63px;
}

.logo-anyplace {
  width: 104px;
}

.hero-image-wrapper {
  position: relative;
}

.hero-photo-underthing {
  position: absolute;
  left: -30px;
  top: -30px;
  z-index: 1;
  max-width: 1200px;
}

.list-2 {
  margin-bottom: 0px;
  padding-left: 0px;
}

.tools-logo-wrapper {
  display: -ms-grid;
  display: grid;
  max-height: 6rem;
  max-width: 14.25rem;
  padding-top: 3rem;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 26px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 26px auto;
  grid-template-rows: auto auto;
}

.image-6 {
  width: 33px;
}

.image-7 {
  position: static;
  left: -4px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-8 {
  padding-top: 32px;
  padding-right: 40px;
  padding-left: 2rem;
}

.image-9 {
  padding-right: 24px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.div-block-2 {
  display: block;
  width: 100%;
  clear: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.levers-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.wanna-know-more {
  position: relative;
  z-index: 2;
  width: 50%;
  margin-bottom: 4rem;
  padding-right: 2rem;
  padding-left: 0rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form-p {
  max-width: 30.5rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 6rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-10 {
  padding-left: 48px;
}

.image-11 {
  padding-right: 48px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-input {
  min-height: 0px;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0px 0px 3px;
  border-color: #000 #000 #002e4d;
  background-color: #002e4d;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.form-input:focus {
  border-bottom-width: 3px;
  border-bottom-color: #f2a278;
}

.form-input.form-textarea {
  min-height: 10rem;
}

.form {
  position: relative;
  z-index: 1;
  width: auto;
  max-width: 29rem;
  margin-top: 2.875rem;
  padding-left: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.orange-star-small {
  position: relative;
  max-width: 0.5rem;
}

.orange-star-small.orange-star-small-first {
  left: 1rem;
  top: -1.75rem;
}

.orange-star-small.orange-star-small-second {
  left: 2.25rem;
}

.orange-star-wrapper {
  position: absolute;
  right: -48px;
  bottom: -16px;
  max-height: none;
  max-width: 4.25rem;
  min-height: 0px;
  float: right;
}

.button-star-wrapper {
  position: relative;
  right: 1rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-message {
  position: relative;
  padding-top: 0px;
  background-color: transparent;
}

.text-block-2 {
  position: relative;
  bottom: 1rem;
  z-index: 3;
  min-width: auto;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
}

.image-12 {
  position: relative;
  bottom: 2rem;
  z-index: 2;
}

.error-message {
  margin-top: 1rem;
  background-color: transparent;
  color: #f5f2e8;
}

.text-block-3 {
  color: #f07b61;
}

.footer {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.footer-wrapper {
  background-color: #002e4d;
}

.text-block-4 {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #8ca7ce;
  text-align: center;
}

.list-item {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 27px;
}

.list-item.list-item-last {
  margin-bottom: 0px;
}

.heading-2 {
  margin-bottom: 2rem;
  color: #f2a278;
}

.heading-3 {
  color: #f2a278;
}

.image-13 {
  width: 20px;
  height: 20px;
}

.image-14 {
  width: 20px;
  height: 20px;
}

.hero-text-wrapper {
  padding-right: 10%;
}

.navbar__link {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: Avenir, sans-serif;
  color: #8ca7ce;
  font-weight: 500;
}

.navbar__link:hover {
  color: #f5f2e8;
}

.navbar__link.navbar__link--reverse {
  color: #153956;
}

.navbar__link.navbar__link--reverse:focus {
  font-weight: 700;
}

.navbar__link.navbar__link--blog-reverse {
  color: #153956;
}

.navbar__link.navbar__link--blog-reverse:focus {
  font-weight: 700;
}

.navbar__link.navbar__link--blog {
  color: #153956;
}

.navbar__link.navbar__link--blog:hover {
  color: #002e4d;
}

.navbar__link.navbar__link--hidden {
  display: none;
}

.body-blog {
  background-color: #f5f2e8;
  color: #153956;
}

.blog-hero {
  max-width: none;
  min-height: 79vh;
  min-width: 0px;
  padding-bottom: 4rem;
}

.blog-h2 {
  max-width: 34rem;
  margin: 3.625rem auto 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2.625rem;
  line-height: 3rem;
  text-align: center;
}

.blog-tabs-menu {
  margin-bottom: 2rem;
  background-color: #153956;
  text-align: center;
}

.blog-tabs-link {
  margin: 1.25rem 1.5rem;
  padding: 0px 0.125rem;
  background-color: transparent;
  font-family: Avenir, sans-serif;
  color: #f5f2e8;
  text-transform: uppercase;
}

.blog-tabs-link.w--current {
  border-bottom: 2px solid #f5f2e8;
  background-color: transparent;
  font-family: Avenir, sans-serif;
}

.blog-tabs-link.blog-tabs-link-hidden {
  display: none;
}

.blog-subscribe-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-8 {
  position: absolute;
  width: 100%;
  height: 30px;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 3px solid #f07b61;
}

.blog-article-listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 62rem;
  margin: 1rem 0rem;
  padding: 2rem 2rem 2rem 0rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.blog-article-listing:hover {
  background-color: rgba(240, 123, 97, 0.1);
}

.blog-article-listing.blog-article-listing-light {
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #f2a278;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  text-decoration: none;
}

.blog-article-listing.blog-article-listing-light:hover {
  border-color: #f2a278;
  background-color: rgba(0, 46, 77, 0.57);
}

.blog-article-listing.blog-article-listing-light.ibm-case-hidden {
  display: none;
}

.blog-article-listing.ibm-case-hidden {
  display: none;
}

.blog-tab-pane {
  text-align: center;
}

.blog-listing-category {
  color: #153956;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: left;
  text-transform: uppercase;
}

.blog-listing-category.blog-listing-category-blog-post {
  padding-right: 1rem;
}

.blog-listing-category.home-listing-category {
  color: #153956;
  text-decoration: none;
}

.blog-listing-category.blog-listing-category-dark {
  color: #f5f2e8;
}

.blog-listing-preview {
  color: #153956;
  line-height: 1.5rem;
  text-align: left;
}

.blog-listing-preview.blog-listing-preview-dark {
  color: #f5f2e8;
}

.blog-listing-title {
  margin-top: 1.125rem;
  padding-bottom: 0.75rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #153956;
  line-height: 1.8rem;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.blog-listing-title.home-listing-title {
  color: #153956;
}

.blog-listing-title.blog-listing-title-dark {
  color: #f5f2e8;
}

.blog-listing-date {
  padding-top: 1.5rem;
  color: #153956;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
}

.blog-listing-date.blog-listing-date-blog-post {
  padding-top: 0rem;
  padding-left: 1rem;
}

.blog-listing-date.blog-listing-date-dark {
  color: #f5f2e8;
}

.blog-listing-image {
  min-width: 21.875rem;
  padding-left: 2rem;
  background-color: transparent;
  color: transparent;
}

.blog-listing-image.blog-listing-image--article-1 {
  min-height: 10px;
  background-image: url('../images/blog-listing-img-2.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.blog-listing-text-wrapper {
  padding-left: 3rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.blog-listing-text-wrapper.home-listing-text-wrapper {
  text-decoration: none;
}

.blog-listing-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-post-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-post-tagline {
  padding-top: 1rem;
  font-size: 2rem;
  line-height: 2.25rem;
}

.blog-post-h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 52px;
}

.blog-lead-image {
  margin-top: 4rem;
}

.blog-post-content {
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
}

.blog-post-content p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.blog-post-content h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 2.375rem;
}

.blog-post-content blockquote {
  max-width: 36rem;
  margin: 4rem auto;
  padding: 0px 0rem 0px 2rem;
  border-left-color: #f07b61;
  font-size: 2rem;
  line-height: 3rem;
}

.blog-post-content figure {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.blog-post-content figcaption {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.blog-post-content ul {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.blog-post-content li {
  margin-bottom: 1rem;
}

.blog-post-author {
  padding-bottom: 2rem;
}

.blog-post-author-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.blog-post-author-bio {
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.blog-author-link-middle {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-15 {
  max-width: 6rem;
  margin-right: 2rem;
}

.blog-post-author-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.table-button-wrapper {
  position: absolute;
  left: -1.5rem;
  top: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 144px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-stars {
  position: absolute;
  left: 0%;
  top: 380px;
  right: auto;
  bottom: 0%;
}

.logo-jiiwa {
  width: 82px;
}

.black-hole {
  position: absolute;
  left: 150px;
  top: -90px;
  z-index: 1;
  background-image: url('../images/black-hole2x.jpg');
  background-position: 0px 0px;
  background-size: 211px;
  background-repeat: no-repeat;
}

.paragraph-2 {
  margin-bottom: 1rem;
  padding-right: 0rem;
  font-size: 1.125rem;
  line-height: 27px;
}

.paragraph-3 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 27px;
}

.paragraph-4 {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: left;
}

.paragraph-4.see-more {
  text-align: right;
}

.paragraph-5 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 27px;
}

.paragraph-6 {
  margin-bottom: 0px;
  font-size: 1.125rem;
  line-height: 27px;
}

.blog-post-image {
  background-image: url('../images/blog-listing-img-2.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.paragraph-page {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-2 {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #f2a278;
  color: #153956;
  font-size: 1.25rem;
  text-decoration: none;
}

.link-2:hover {
  border-top-color: #f2a278;
  background-color: #f2a278;
}

.pens-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.theraplist-pen {
  min-width: 400px;
}

.waffle-ui-pen {
  min-width: 400px;
}

.pen {
  min-width: 360px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.html-embed {
  display: inline-block;
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .hero__logos {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .container {
    padding-bottom: 4rem;
  }
  .container.hero-container {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .container.container-blog-header {
    padding-bottom: 1rem;
  }
  .hero {
    height: auto;
  }
  .hero__photo {
    max-width: 240px;
    border-width: 12px;
    background-image: none;
  }
  .h2 {
    margin-top: 2rem;
  }
  .about-grid-child-2 {
    -ms-grid-rows: 1.5fr 1fr;
    grid-template-rows: 1.5fr 1fr;
  }
  .grid-background {
    padding: 1.25rem;
  }
  .hero-image-wrapper {
    min-height: 20rem;
    min-width: 20rem;
  }
  .hero-photo-underthing {
    left: -22px;
    top: -23px;
    width: 640px;
  }
  .list-2 {
    padding-left: 1rem;
  }
  .tools-logo-wrapper {
    padding-top: 2rem;
  }
  .image-8 {
    display: none;
  }
  .wanna-know-more {
    padding-top: 2.875rem;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .form-wrapper {
    padding-bottom: 3rem;
  }
  .hero-text-wrapper {
    padding-right: 1rem;
  }
  .blog-tabs-link {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .blog-article-listing {
    margin-right: 0rem;
    margin-left: 0rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .hero-stars {
    top: 270px;
    max-width: 100px;
  }
  .black-hole {
    left: 110px;
  }
  .blog-post-image {
    min-width: 40%;
    margin-left: 2rem;
    background-image: url('../images/blog-lead-image.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
  .pens-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .pen {
    padding-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .navbar__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    background-color: #f5f2e8;
  }
  .navbar__menu.navbar__menu--reverse {
    background-color: #153956;
  }
  .navbar__logo {
    top: 8px;
  }
  .hero__logos {
    position: relative;
    z-index: 2;
    min-width: 426px;
    margin-top: 4rem;
  }
  .heading {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .logo-swipeout {
    width: 46.400000000000006px;
  }
  .navbar__icon-wrapper.navbar__icon-wrapper--sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
  }
  .navbar__logo-wrapper {
    padding-left: 0px;
  }
  .container.hero-container {
    padding-top: 0rem;
  }
  .container.container-blog-post-author {
    padding: 0rem;
  }
  .container.container-blog-post-articles {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .hero__photo {
    width: auto;
    height: auto;
    max-width: 128px;
    border-width: 8px;
  }
  .hero__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-block {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .skills {
    background-position: 0% 90%;
  }
  .button-small-wrapper.blog-button-small {
    position: relative;
    top: 0rem;
    right: 0%;
    display: none;
    margin-right: auto;
    margin-left: auto;
  }
  .table {
    border: 1px none #000;
  }
  .about-grid-parent {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about-grid-child-1 {
    padding-bottom: 0.5rem;
  }
  .about-grid-child-2 {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grid-background {
    padding: 1.5rem;
  }
  .logo-ibm {
    width: 68.8px;
  }
  .logo-wwf {
    width: 48px;
  }
  .logo-pwc {
    width: 50.400000000000006px;
  }
  .logo-anyplace {
    width: 83.2px;
  }
  .hero-image-wrapper {
    position: relative;
    left: auto;
    z-index: 1;
    min-height: auto;
    min-width: auto;
  }
  .hero-photo-underthing {
    left: -2px;
    top: -2px;
    width: 340px;
  }
  .wanna-know-more {
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 0rem;
  }
  .form-wrapper {
    max-width: 28rem;
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form {
    width: 100%;
    max-width: 30rem;
    margin-top: 0rem;
    padding-left: 0rem;
  }
  .success-message {
    margin-top: 2rem;
  }
  .text-block-2 {
    min-width: auto;
  }
  .hero-text-wrapper {
    position: relative;
    z-index: 2;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 2.5%;
  }
  .navbar__link {
    color: #153956;
  }
  .navbar__link:hover {
    color: #153956;
  }
  .navbar__link.navbar__link--sidebar.navbar__link--reverse {
    color: #153956;
  }
  .navbar__link.navbar__link--blog {
    color: #8ca7ce;
  }
  .navbar__link.navbar__link--blog:hover {
    color: #b9d1f2;
  }
  .blog-tabs-menu {
    margin-bottom: 0rem;
  }
  .blog-subscribe-wrapper {
    display: none;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blog-article-listing {
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .blog-article-listing.blog-article-listing-light {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .blog-listing-image {
    margin-left: 3rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
  }
  .blog-listing-text-wrapper {
    max-width: 36rem;
  }
  .blog-listing-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-9 {
    width: 100%;
  }
  .navbar__menu-icon {
    padding-left: 0px;
    color: #f2a278;
    font-size: 38px;
    line-height: 20px;
  }
  .navbar__menu-icon.navbar__menu-icon--reverse {
    color: #153956;
  }
  .navbar__menu-button {
    padding: 0px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .logo-jiiwa {
    width: 65.60000000000001px;
  }
  .black-hole {
    left: 150px;
    min-height: 176px;
    background-image: url('../images/black-hole2x.jpg');
    background-position: 0px 0px;
    background-size: 211px;
    background-repeat: no-repeat;
  }
  .blog-tabs-wrapper {
    margin-top: 3rem;
  }
  .blog-post-image {
    width: 60%;
    min-height: 14rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
}

@media (max-width: 479px) {
  .navbar__container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .hero__logos {
    min-width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .logo-swipeout {
    margin-right: 0.25rem;
    padding-top: 1rem;
  }
  .navbar__icon-wrapper {
    display: none;
  }
  .navbar__icon-wrapper.navbar__icon-wrapper--sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 12px;
  }
  .navbar__logo-wrapper {
    padding-left: 0px;
  }
  .container.container-blog-post-hero {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container.container-blog-post-main {
    padding: 1rem;
  }
  .container.container-blog-post-author {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .container.container-blog-post-articles {
    padding-top: 1rem;
  }
  .hero__main {
    padding-top: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .skills {
    background-position: 0% 90%;
  }
  .skills__list-item {
    width: auto;
  }
  .about-grid-child-2 {
    -ms-grid-rows: 1fr 0.6fr;
    grid-template-rows: 1fr 0.6fr;
  }
  .logo-ibm {
    margin-left: 0.25rem;
    padding-top: 1rem;
  }
  .logo-wwf {
    padding-top: 1rem;
  }
  .logo-pwc {
    margin-right: 0.25rem;
    padding-top: 1rem;
  }
  .logo-anyplace {
    margin-right: 0rem;
    margin-left: 0.25rem;
    padding-top: 1rem;
  }
  .hero-image-wrapper {
    padding-bottom: 0.75rem;
  }
  .text-block-2 {
    min-width: auto;
  }
  .navbar__link.navbar__link--sidebar {
    color: #002e4d;
  }
  .blog-h2 {
    margin-top: 2rem;
  }
  .blog-tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0.125rem;
    padding-left: 0.125rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .blog-tabs-link {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    text-align: center;
  }
  .blog-article-listing {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
  .blog-article-listing:hover {
    background-color: transparent;
  }
  .blog-article-listing.blog-article-listing-light {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .blog-listing-image {
    width: 100%;
    max-width: 100%;
    min-width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .blog-listing-text-wrapper {
    padding-left: 0rem;
  }
  .blog-listing-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-post-content blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .hero-stars {
    top: 168px;
  }
  .logo-jiiwa {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding-top: 1rem;
  }
  .black-hole {
    left: 110px;
  }
  .blog-tabs-wrapper {
    margin-top: 2rem;
  }
  .blog-post-image {
    width: 100%;
    min-height: 12rem;
    margin-left: 0rem;
  }
}

#w-node-3bfc0c1b0b79-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f58ac9413b95-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-0c68a3cbf8e4-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d988444743f5-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-8cfc2d1a1434-76f30707 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8687b2b58f6b-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b6a4cdc40c74-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-93ee9af6c9f8-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d80a648e0811-76f30707 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-83f800ef007d-76f30707 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-2e6226dc2a33-76f30707 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-a4fb12e7748b-76f30707 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-e4f7bb564d68-76f30707 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-76d3e91829a5-76f30707 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-0c68a3cbf8e4-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-8687b2b58f6b-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-b6a4cdc40c74-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-3bfc0c1b0b79-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-0c68a3cbf8e4-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-d988444743f5-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-8cfc2d1a1434-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-8687b2b58f6b-76f30707 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
